* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: rgb(15, 16, 18);
}

html {
  font-size: 62.5%;
  /* width: fit-content; */
}

body {
  background-color: rgb(207, 207, 207);
  font-family: "Nunito", sans-serif;
}

#highScoresHeader {
  display: flex;
}

#highScoresMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 4rem;
  font-size: 2.5rem;
}

main {
  text-align: center;
  margin: 0 5rem;
}

a:hover, button:hover {
  font-weight: 700;
}

#start {
  display: flex;
  /* text-align: center; */
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 3rem;
}

h1 {
  font-size: 6.5rem;
  padding: 3.5rem;
  /* text-align: center; */
}

p {
  font-size: 2rem;
}

#start-button {
  margin: 2rem;
}

button {
  font-size: 2rem;
  border-radius: 1rem;
  padding: 1rem;
  background-color: rgb(89, 4, 186);
  color: rgb(255, 255, 255);
}

button:hover {
  box-shadow: inset 1px 1px 7px 2px rgb(163, 69, 231);
}

#quiz {
  display: flex;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

h2 {
  font-size: 3rem;
}

/* Make gradient underline */
hr {
  margin: 5px 0;
  height: 2px;
  border: none;
  background: -webkit-gradient(
    linear,
    0 0,
    100% 0,
    from(transparent),
    to(transparent),
    color-stop(50%, black)
  );
}

h3 {
  font-size: 3rem;
}

h4 {
  font-weight: 500;
}

ol {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-left: 6rem;
  margin-bottom: 3rem;
}

#highScoresList {
  padding-left: 0rem;
}

ol li {
  font-size: 2rem;
  padding-left: 2rem;
}

.highScoresItems {
  padding: 0 1.5rem;
}

input {
  margin: 2rem;
  margin-left: 10rem;
  font-size: 2.75rem;
}

footer {
  display: flex;
  justify-content: center;
  padding-right: 2.5rem;
}

